body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Teko', sans-serif;  
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 54px;
}

h4 {
  font-size: 50px;
}

h5 {
  font-size: 46px;
}

h6 {
  font-size: 44px;
}

.logo {
  width: 40px;
  height: 40px;
  margin: 3px;
  
}

.info-card-img {
  width: 180px;
  height: auto;
  padding: 30px;
}

.browse-img {
  width: 60px;
  height: 60px;
}

.lh-2 {
  line-height: 1.1em;
}

.id-icon {
  width: 60px;
  height: auto;
}