body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Teko', sans-serif;  
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 42px;
}

h5 {
  font-size: 40px;
}

h6 {
  font-size: 36px;
}


span {
  font-size: 20px;
}

strong {
  font-size: 28px;
  line-height: 0.9;
}


.logo {
  width: 40px;
  height: 40px;
  margin: 3px;
  
}

.info-card-img {
  width: 180px;
  height: auto;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-right: 0px;
}

.browse-img {
  width: 60px;
  height: 60px;
}

.lh-2 {
  line-height: 1.1em;
}

.id-icon {
  width: 60px;
  height: auto;
}

.mouseover {
  cursor: pointer;
}

.solid-5 {
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.solid-btm {
  border-bottom: 5px solid black;
}


@media (max-width: 425px) {

  body {
    font-size: 14px;
  }

  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 36px;
  }
  
  h3 {
    font-size: 32px;
  }
  
  h4 {
    font-size: 28px;
  }
  
  h5 {
    font-size: 26px;
  }
  
  h6 {
    font-size: 24px;
  }
  
  
  span {
    font-size: 18px;
  }
  
  strong {
    font-size: 24px;
    line-height: 0.9;
  }

  .card-body {
    text-align: center;
    padding: 10px;
    width: 100%;
  }

  .info-card-img {
    width: 100px;
    height: auto;
    padding: 20px;
  }

  .info-col {
    text-align: center;
  }
}